/*
    /recursos
        /audios 
            carrera.mp3
            explosion.mp3
            improperio.mp3
            kerosene.mp3
            mazda.mp3
            r34.mp3
            siente_el_boom.mp3
            tokyo.mp3
        /coche
            coche_destrozado.png
            coche_sin_puerta.png
            coche_sin_ruedas.png
            coche.png
            faro.png
            interior.png
            mazda.png
            puerta.png
            rueda.png
        /efectos
            explosion1.gif
            explosion2.gif
            humo.gif
            llama.gif
            meteorito.gif
        cielo.png
        dick.gif
        edificio.png
        ladrillo.png
        muro_destruido.png
        muro.png
        nube.png
        pajaro1.png
        pajaro2.png
        play.png
    coche.css
    coche.html
*/
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.suelo {
    position: absolute;
    background-color: rgb(0, 86, 42);
    margin: 0;
    width: 100%;
    height: 30%;
    bottom: 0;
    
}
.fondo {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #91D9F1;
    display: flex;
    background-image: url('recursos/cielo.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: sol 120s linear forwards paused;
}
@keyframes sol {
    0.1% { background-color: #d90094;}
    5% {background-color: #379c00;}
    10% {background-color: #0037ff;}
    15% {background-color: #00c3ff;}
    20% {background-color: #FFD700;}
    25% {background-color: #ff6a00;}
    30% {background-color: #00ff2f;}
    35.83% {background-color: #cb0000;}
    48.82% {background-color: #cb0000;}
    48.83% {background-color: #fff700;}
    52.49% {background-color: #fff700;}
    52.5% {background-color: #00cb2f;}
    100% {background-color: #00cb2f;}
}
.play {
    position: absolute;
    top: 2%;
    right: 1%;
    width: 5%;
    cursor: pointer;
    z-index: 10;
}
.play.hidden {
    display: none;
}
/* --------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------*/
.supra {
    position: absolute;
    width: 23%;
    bottom: 18%;
    left: -22%;
    z-index: 2;
    animation: supra 120s linear forwards paused;
}
@keyframes supra {
    35.83% {left: 0%;}
    52.5% {
        bottom: 18%;
        left: 0%;
    }
    53.5% {left: 35%;}
    55% {left: 45%;}
    57.5% {left: 60%;}
    60% {left: 70%;}
    62.5% {left: 65%;}
    65% {left: 60%;}
    67.5% {left: 72%;}
    70% {left: 63%;}
    72.5% {left: 42%;}
    75% {left: 30%;}
    77.5% {
        bottom: 10%;
        left: 25%;
    }
    84.16% {
        bottom: 10%;
        left: 35%;
    }
    100% { 
        left: 35%; 
        bottom: 10%;
    } 
}
.mazda {
    position: absolute;
    width: 22.2%;
    bottom: 4%;
    left: -22%;
    z-index: 3;
    animation: mazda 120s linear forwards paused;
}
@keyframes mazda {
    35.83% {left: 0%;}
    52.5% {left: 0%;}
    53.5% {left: 31%;}
    55% {left: 38%;}
    57.5% {left: 50%;}
    60% {left: 62%;}
    62.5% {left: 59%;}
    65% {left: 61%;}
    67.5% {left: 70%;}
    70% {left: 67%;}
    72.5% {left: 42%;}
    75% {left: 26%;}
    74.5% {bottom: 4%;}
    75% {
        left: 22%;
        bottom: -10%;
    }
    77.5% {left: 300%;}
    100% { 
        left: 300%; 
        bottom: -10%;
    } 
}
/* --------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------*/
.nube11 {
    position: absolute;width: 22.2%;top: 4%;left: -10%;z-index: 0;opacity: 0.6;animation: nube 120s linear forwards paused;
}
.nube12 {
    position: absolute;width: 35%;top: 30%;left: 20%;z-index: 0;opacity: 0.6;animation: nube 120s linear forwards paused;
}
.nube13 {
    position: absolute;width: 15%;top: 10%;left: 60%;z-index: 0;opacity: 0.5;animation: nube 120s linear forwards paused;
}
.nube14 {
    position: absolute;width: 35%;top: 40%;left: 80%;z-index: 0;opacity: 0.4;animation: nube 120s linear forwards paused;
}
.nube15 {
    position: absolute;width: 23%;top: 40%;left: -35%;z-index: 0;opacity: 0.5;animation: nube 120s linear forwards paused;
}

@keyframes nube {
    52.5% { transform: translateX(45vw); } 
    55% { transform: translateX(40vw); } 
    56.5% { transform: translateX(30vw); } 
    58% { transform: translateX(15vw); } 
    59.5% { transform: translateX(0vw); } 
    61% { transform: translateX(-20vw); } 
    62% { transform: translateX(-32vw); } 
    63% { transform: translateX(-50vw); } 
    64% { transform: translateX(-65vw); } 
    65% { transform: translateX(-90vw); } 
    66% { transform: translateX(-112vw); } 
    67% { transform: translateX(-140vw); } 
    68% { transform: translateX(-165vw); } 
    69% { transform: translateX(-200vw); } 
    70% { transform: translateX(-230vw); } 
    71% { transform: translateX(-270vw); } 
    72% { transform: translateX(-300vw); } 
    73% { transform: translateX(-350vw); } 
    74% { transform: translateX(-382vw); } 
    75% { transform: translateX(-428vw); } 
    76% { transform: translateX(-430vw); } 
    77.5% { transform: translateX(-435vw); } 
    100% { transform: translateX(-390vw); } 
}
.nube21 {
    position: absolute;width: 13%;top: 8%;left: 110%;z-index: 0;opacity: 0.5;animation: nube 120s linear forwards paused;
}
.nube22 {
    position: absolute;width: 25%;top: 22%;left: 135%;z-index: 0;opacity: 0.4;animation: nube 120s linear forwards paused;
}
.nube23 {
    position: absolute;width: 19%;top: 10%;left: 150%;z-index: 0;opacity: 0.6;animation: nube 120s linear forwards paused;
}
.nube24 {
    position: absolute;width: 31%;top: 33%;left: 180%;z-index: 0;opacity: 0.6;animation: nube 120s linear forwards paused;
}
.nube25 {
    position: absolute;width: 28%;top: 15%;left: 205%;z-index: 0;opacity: 0.4;animation: nube 120s linear forwards paused;
}
.nube26 {
    position: absolute;width: 19%;top: 28%;left: 220%;z-index: 0;opacity: 0.5;animation: nube 120s linear forwards paused;
}
.nube27 {
    position: absolute;width: 21%;top: 4%;left: 245%;z-index: 0;opacity: 0.4;animation: nube 120s linear forwards paused;
}
.nube28 {
    position: absolute;width: 29%;top: 37%;left: 270%;z-index: 0;opacity: 0.5;animation: nube 120s linear forwards paused;
}
.nube29 {
    position: absolute;width: 20%;top: 25%;left: 295%;z-index: 0;opacity: 0.6;animation: nube 120s linear forwards paused;
}

.nube31 {
    position: absolute;width: 19%;top: 32%;left: 310%;z-index: 0;opacity: 0.5;animation: nube 120s linear forwards paused;
}
.nube32{
    position: absolute;width: 21%;top: 15%;left: 340%;z-index: 0;opacity: 0.4;animation: nube 120s linear forwards paused;
}
.nube33 {
    position: absolute;width: 9%;top: 29%;left: 365%;z-index: 0;opacity: 0.6;animation: nube 120s linear forwards paused;
}
.nube34 {
    position: absolute;width: 23%;top: 7%;left: 380%;z-index: 0;opacity: 0.6;animation: nube 120s linear forwards paused;
}
.nube35 {
    position: absolute;width: 18%;top: 30%;left: 405%;z-index: 0;opacity: 0.4;animation: nube 120s linear forwards paused;
}
.nube36 {
    position: absolute;width: 32%;top: 13%;left: 430%;z-index: 0;opacity: 0.5;animation: nube 120s linear forwards paused;
}
.nube37 {
    position: absolute;width: 21%;top: 22%;left: 460%;z-index: 0;opacity: 0.5;animation: nube 120s linear forwards paused;
}
.nube38 {
    position: absolute;width: 27%;top: 17%;left: 480%;z-index: 0;opacity: 0.4;animation: nube 120s linear forwards paused;
}
.nube39 {
    position: absolute;width: 18%;top: 32%;left: 505%;z-index: 0;opacity: 0.5;animation: nube 120s linear forwards paused;
}
/* --------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------*/
.muro {
    position: absolute;
    width: 20%;
    bottom: 7%;
    right: -20%;
    z-index: 1;
    opacity: 1;
    animation: muro 120s linear forwards paused;
}
@keyframes muro {
    76.5% {
        right: -20%; 
    }
    77.5% {
        right: 42%;
        opacity: 1;
    }
    77.51% {
        opacity: 0;
    }
    100% { opacity: 0;}
}

.muro_i {
    position: absolute;
    width: 20%;
    bottom: 7%;
    right: 42%;
    z-index: 0;
    opacity: 0;
    animation: muro2 120s linear forwards paused;
}
.muro_d {
    position: absolute;
    width: 20%;
    bottom: 7%;
    right: 42%;
    z-index: 3;
    opacity: 0;
    animation: muro2 120s linear forwards paused;
}
@keyframes muro2 {
    77.5% {opacity: 0;}
    77.51% {
        opacity: 1;
        right: 42%;
    }

    84.16% {
        right:110%;
    }
    100% { 
        opacity: 1;
        right:110%;
    }
}

.ladrillo1 {
    position: absolute;
    width: 6%;
    bottom: 50%;
    right: 65%;
    z-index: 3;
    opacity: 0;
    animation: ladrillo 1s linear infinite paused, ladrillo2 120s linear forwards paused;
}
.ladrillo2 {
    position: absolute;
    width: 6%;
    bottom: 47%;
    right: 60%;
    z-index: 3;
    opacity: 0;
    animation: ladrillo 1s linear infinite paused, ladrillo2 120s linear forwards paused;
}
.ladrillo3 {
    position: absolute;
    width: 6%;
    bottom: 40%;
    right: 38%;
    z-index: 3;
    opacity: 0;
    animation: ladrillo 1s linear infinite paused, ladrillo2 120s linear forwards paused;
}
.ladrillo4 {
    position: absolute;
    width: 6%;
    bottom: 35%;
    right: 33%;
  
    z-index: 3;
    opacity: 1;
    animation: ladrillo 1s linear infinite paused, ladrillo2 10s linear forwards paused;
}
@keyframes ladrillo {
    0% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(600%) rotate(1000deg); }
    100% { transform: translateY(0) rotate(2000deg); }
}
@keyframes ladrillo2 {
    77.5% {opacity: 1;}
    77.51% { 
        opacity: 1; 
        transform: translateX(0)
       
    }
    84.16% {
        transform: translateX(-20);
        opacity: 1; 
    }
    84.17% {
    
        opacity: 1;  
    }
}









.edificio_i{
    position: absolute;
    width: 30%;
    bottom: 15%;
    right: 0%;
    z-index: 1;
    opacity: 0;
}
