/*Paddings y poner ancho a unop específico*/
body {
    margin: 0;
    display: flex;
    justify-content: center;
}
.comic {
    margin: 0;  
    text-align: center;
    width: 600px;
    border: 2px red solid;
}  
.img1 {
    margin: 0;
    width: 90%;
}
.img2 {
    margin: 0;
    width: 90%; 
}
.img3 { 
    display: flex;
    align-items: start;
    margin: 0;      
    width: 30%;
    margin-top: -50px;
}
.img4 {
    margin: 0;
    width: 90%;
}       
.img5 {
    margin: 0;
    width: 90%;
}
.div6{
    display: flex;
    margin: 0;
    width: auto;    
}
.img6 {
    margin-left: auto;
    width: 40%;
}
.img7 {
    margin: 0;
    width: 90%;
}

/*Animaciones
El hover es para cuando el cursor pase por encima
    - La primera imagen se hace más grande 
    - La segunda desaparece (con opacity)
    - La tercera se mueve hacia la derecha
    - La cuarta se hace pequeño(Aumentar padding y disminuir    width) y se hace algo transparente
    - La quinta que baje y luego suba
    - La sexta se debe de mover haciendo una curva a la derecha y abajo


*/
.img1:hover {
    transform: scale(1.5);
}
.img1 {
    transition: transform 2s ease;
}
.img2:hover {
    opacity: 0.3; 
}
.img2 {
    transition: opacity 1.5s ease;
}
.img3:hover {
    transform: translateX(250px);
}
.img3 {
    transition: transform 1s ease;
}
.img4:hover {
    padding: 10px; 
    width: 50%;  
    opacity: 0.5;  
}
.img4 {
    transition: all 1s ease;
}
.img5:hover {
    transform: translateY(100px); 
}
.img5 {
    transition: transform 1s ease;
}
.div6 .img6:hover {

}
.div6 .img6:hover {

}
.img6:hover {
    transform: translate(150px, 150px) ; 
}
.img6 {
    transition: transform 2s ease;
}
.img7:hover {
    transform: rotate(10000deg);
}
.img7 {
    transition: transform 5s ease-in-out;
}


