.diw {
    background-color: #ffcccc;
}

.dwes {
    background-color: #ccffcc;
}

.dwec {
    background-color: #ccccff;
}

.des {
    background-color: #ffffcc;
}

.emp {
    background-color: #ffccff;
}

.recreo {
    background-color: #85c7cb;
    font-weight: bold;
}
.hora {
    background-color: #626262;
}